.img {
  width: 60px;
  border-radius: 50%;
}

.msg {
  display: flex;
  height: 80px;
  align-items: center;
  padding-left: 10px;
  padding-top: 0;
}

.msg p:first-child {
  font-weight: 700;
  padding: 0;
}

.msg:hover {
  background-color: #00000020;
}

.msgBox {
}
