/* CSS for Profile Page */

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-top: 60px
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.profile-info {
  font-size: 14px;
  align-self: center;
  margin-bottom: 0px;
}

.profile-info span {
  font-weight: bold;
}
