@font-face {
  font-family: "Hind_Siliguri_Light";
  src: url("./fonts/Hind_Siliguri/HindSiliguri-Regular.ttf") format("truetype");
}

body {
  font-family: "Inter";
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.App {
  text-align: center;
}

.rounded {
  border-radius: 50%;
}

input {
  width: 100%;
  height: 30px;
  border: 0.5px solid;
  margin: 5px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

input:focus {
  outline: none;
}


button {
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  border: 0.5px solid;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
